<%= simple_form_for @book do |f| %>

<% if @book.errors.any? %>
<ul>
  <% @book.errors.full_messages.each do |message| %>
  <li><%= message %></li>
  <% end %>
</ul>
<% end %>
<%= f.input :title %>
<%= f.input :author %>
  <%= f.simple_fields_for :user_book_attributes do |ub| %>
    <%= ub.input_field :have_read, as: :radio_buttons %>
    <% end %>
<%= f.submit %>
<% end %>
