<%= @book.title %>
<%= @book.author %>
<% if user_signed_in? %>
  <%= render "user_book_form" %>
<% end %>
<% if @book.user_books.count(:rating) > 0 %>
  <h4> Avg Rating =<%= @book.user_books.average(:rating).round(1) %> from <%= @book.user_books.count(:rating)  %> ratings</h4>
<% end %>
