<!DOCTYPE html>
<html>
<head>
  <title>Bookshelf3</title>
  <%= csrf_meta_tags %>

  <meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0;   user-scalable=0;" name="viewport">
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'  %>
<body>
  <div>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
</body>
</html>
